body,
html {
  height: 100%;
}

:root {
  font-family: ui-sans-serif, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #e2e8f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(210, 40%, 96%, 1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='1' stroke='hsla(215, 20%, 65%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

#app {
  background: #ffffff;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: min(100%, 500px);
}

h1 {
  text-align: center;
}

#start-button {
  background-color: #10b981;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  max-width: 150px;
  width: 100%;
  margin: auto;

}

#start-button:hover {
  background-color: #047857;
}


h2 {
  font-size: 18px;
  font-weight: 400;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.answer-button {
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 2px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  color: black;
  background-color: white;
  transition: background-color 0.17s ease, color 0.17s ease;
}

.answer-button:hover {
  background-color: lightgrey;
}

.correct-answer {
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 2px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  color: white;
  background-color: #10b981;
}

.wrong-answer {
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 2px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  color: white;
  background-color: #ef4444;
}